@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 640px) {
  input,
  textarea,
  select {
    font-size: 16px; /* Prevents zoom on focus in iOS */
  }
}

@keyframes spin-word {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.spin-animation {
  animation: spin-word 0.5s ease-in-out;
}

.keyboard {
  max-width: 500px;
  margin: 0 auto;
}

.keyboard button {
  height: 58px;
  user-select: none;
  transition: background-color 0.3s ease;
  touch-action: manipulation;
  min-width: 24px;
}

.keyboard button:hover {
  background-color: #d1d5db;
}

.keyboard button:active {
  background-color: #9ca3af;
}

@media (max-width: 360px) {
  .keyboard button {
    min-width: 20px;
    font-size: 10px;
  }
}

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* Add this new rule */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.min-h-screen {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}
